spring:
  config:
    activate:
      on-profile: db

  datasource:
    url: jdbc:mysql://ajoucm.c1q4o4c04ckx.ap-northeast-2.rds.amazonaws.com:4224/ACM
    username: admin
    password: ujshpQ7fBWI0i5Tc7Ffw
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    database-platform: org.hibernate.dialect.MySQLDialect
